.answer {

}

.answer-body {
  font-size: 16px;
  text-align: justify;
  padding: 0 20px;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
